pandas==2.2.2
numpy==1.26.4
requests==2.31.0
tenacity==8.2.3
python-dotenv==1.0.1
scipy==1.13.0
statsmodels==0.14.2
pymannkendall==1.4.3
plotly==5.22.0
folium==0.16.0
matplotlib==3.8.4
seaborn==0.13.2
streamlit==1.35.0
